<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/projectallergycheck/static/css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div id = "wapper">
    <header></header>
    <section>
      <div class="middle">
        <a href="/ProjectAllergyCheck/projectallergycheck/pages/templates/index.html" class="logo">
            <img src="/projectallergycheck/static/images/logo.png" 
            style="height: 200px;margin: auto; position:relative; top:1vh; display:block; "
            alt="mainLogo"> 
        </a>
      </div>
      <div class = box>
          <form method="post">
            <input type="text" name="name"> 
            <div class="material-icons">search</div>
            <input type="submit" value="바코드 검색하기">
      </div>      
  </div>
    </section>

    <footer>
      <div class="inner">
        <ul class="main-menu">
          <li class="item">
            <div class="item__name"><a href="./pages/about/qrCode.html">바코드 입력</a></div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <ul>
                      <li>
                        <a href="./pages/about/qrCode.html">바코드 입력</a>
                      </li>

                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name"><a href="../../accounts/templates/accounts/signup.html">로그인</a></div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <ul>
                      <li>
                        <a href="../../accounts/templates/accounts/signup.html">로그인</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name"><a href="../../accounts/templates/accounts/mypage.html">마이페이지</a></div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <ul>
                      <li>
                        <a href="../../accounts/templates/accounts/mypage.html">마이페이지</a>
                      </li>
                      <li>
                        <a href="../../accounts/templates/accounts/allergy.html">알레르기 내역</a>
                      </li>
                      <li>
                        <a href="../../accounts/templates/accounts/eatingHabit.html">식습관</a>
                      </li>
                      <li>
                        <a href="../../accounts/templates/accounts/badfood.html">먹으면 안되는 음식</a>
                      </li>
                      <li>
                        <a href="../../accounts/templates/accounts/warningfood.html">주의해야할 음식</a>
                      </li>
                    </ul>
                  </li>
              </div>
            </div>
          </li>
          <li class="item">
            <div class="item__name">
              <a href="../../record/templates/record/scan-list.html">검색 내역</a>
            </div>
            <div class="item__contents">
              <div class="contents__menu">
                <ul class="inner">
                  <li>
                    <ul>
                      <li>
                        <a href="../../record/templates/record/scan-list.html">검색 내역</a>
                      </li>
                      <li>
                        <a href="../../record/templates/record/latest-scan-list.html">최근 검색 내역</a>
                      </li>
                      <li>
                        <a href="../../record/templates/record/all-scan-list.html">전체 검색 내역</a>
                      </li>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </footer>
  </div>
</body>
</html> 