<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/ProjectAllergyCheck/projectallergycheck/static/css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div id = "wapper">
    <header></header>
    <section>
      <div class="middle">
        <a href="/ProjectAllergyCheck/projectallergycheck/pages/templates/index.html" class="logo">
            <img src="/ProjectAllergyCheck/projectallergycheck/static/images/logo.png" 
            alt="mainLogo"> 
        </a>
         <form method="post">
          <input type="text" name="name"
          style="position: absolute;
          top: 55%;
          left: 50%;
          "> 
          <div class="material-icons">search</div>
          <input type="submit" value="바코드 검색하기">      
         </div>
         <div class="inner">
          <div class="sub-menu">
              <ul class = "menu" style="color:black;">
                  <li style="list-style:none;">
                      <a href="/signup">로그인</a>
                  </li>
                  <li style="list-style:none;">
                      <a href="javascript:void(0)">마이페이지</a>
                  </li>
                  <li style="list-style:none;">
                      <a href="javascript:void(0)">검색 내역</a>
                  </li>
              </ul> 
          </div>
        </div>
      </div>
    </section>

    <footer>
    </footer>
  </div>
</body>
</html> 