<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>헬스 케어</title>
    <link rel="stylesheet" href="/static/css/Home.css/">
    <script src="../js/Home.js"></script>
  </head>
  <body>
    <header>
      <ul class="QRcode-explain">
        <li>
          <a href="../about/QRcode.html"
          ><img src="../images/QRcode.png" alt="QRcode" style="
          width: 200px; height: 200px; position: fixed; top: 100px; right:
          100px; " />
          </a>
        </li>
        <li>
          <a href="QRcode-explain">QRcode/바코드 인식하기</a>
        </li>
      </ul>   
      <div class="sub-menu">
        <ul class="menu">
          <input type="button" value = " " class="button-image" 
          style = "background-image:url(https://png.pngtree.com/element_our/20190601/ourmid/pngtree-menu-icon-image_1344445.jpg); 
          background-size: 100%;
          width: 30px; height: 30px; 
          background-position: 95% 5%; ">
         </input>
         <div id="dropdown" class="dropdown-menu"></div>
            <ul class="mypage">            
              <a href="../mypage/mypage.html" style="font-size: 1.5em"
              >마이 페이지</a>
              <ul>
                <li>
                  <a href="../mypage/login.html">로그인</a>
                </li>
                <li>
                  <a href="../mypage/body-info.html">신체 정보</a>
                </li>
                <li>
                  <a href="../mypage/badfood.html">먹으면 안되는 식품</a>
                </li>
                <li>
                  <a href="../mypage/warningfood.html">먹을 때 주의할 식품</a>
                </li>
                <li>
                  <a href="../mypage/goodfood.html">몸에 좋은 식품</a>
                </li>
              </ul>
            </ul>
            <ul class="scan-list">
              <li>
                <a href="../scan/scan-list.html" style="font-size: 1.5em"
                  >스캔 내역</a
                >
              </li>
              <ul>
                <li>
                  <a href="../scan/latest-scan-list.html">최근 스캔 내역</a>
                </li>
                <li>
                  <a href="../scan/all-scan-list.html">모든 스캔 내역</a>
                </li>
              </ul>
            </ul>
            <ul class="recommend-list">
              <li>
                <a href="../recommend/all-recommend-list.html">전체 추천 리스트</a>
              </li>
              <ul>
                <li>
                  <a href="../recommend/nutrient-recommend.html"
                    >영양성분을 통한 추천</a
                  >
                </li>
                <li>
                  <a href="../recommend/user-recommend.html">사용자들의 추천</a>
                </li>
              </ul>
            </ul>
        </ul>
        </div>
      </div>
    </header>
  </body>
</html>
