<!DOCTYPE html>
<html>
<head>
  <title>AllergyCheck</title>
<meta content="text/html; charset=euc-kr">
<title>HTML5</title>
<link rel="stylesheet" href="/ProjectAllergyCheck/projectallergycheck/static/css/badfood.css">
  </head>
<body>
  <a href="/ProjectAllergyCheck/projectallergycheck/pages/templates/index.html">
    <img src="/ProjectAllergyCheck/projectallergycheck/static/images/logo.png" 
    style="height:15vh; position: relative; " alt="logo">
  </a>
	<div id="wapper">
		<!--헤더시작-->
		<header>
      <div class="header-blank"></div>
						<ul class="lists">  
        <li><a href="/ProjectAllergyCheck/projectallergycheck/pages/templates/pages/about/qrCode.html">바코드 입력</a></li>
				<li><a href="/ProjectAllergyCheck/projectallergycheck/accounts/templates/accounts/signup.html">로그인</a></li>
				<li><a href="/ProjectAllergyCheck/projectallergycheck/accounts/templates/accounts/mypage.html">마이페이지</a></li>
				<li><a href="/ProjectAllergyCheck/projectallergycheck/record/templates/record/scan-list">검색내역</a></li>
			</ul>
		</header>
		<!--네비게이션-->
		<nav>
      
		</nav>  
		<!--콘텐츠부분-->
		<section>
      <H1>마이페이지</H1>
          <a href="javascript:void(0)">
      <div
        style="
               display:flex;
               justify-content:center;
               text-align:center;
               width:60vw;
               height:60vh;
          position: relative;
          top: 100px;
          left: 60px;
          border: 5px solid rgb(38, 38, 160);
          border-radius: 10px;
          color: black;
        "
      >
      </div>
    </a>
		</section>
		<!--사이드바-->
		<aside>
			
		</aside>
	</div>
</body>
</html>