<!DOCTYPE html>
<html>
<head>
  <title>AllergyCheck</title>
<meta content="text/html; charset=euc-kr">
<title>HTML5</title>
<link rel="stylesheet" href="../../../static/css/eatingHabit.css">
  </head>
<body>
    <div id="wapper">
        <!--헤더시작-->
    <header>
      <div class="logo" style="text-align: center; position:relative; ">
        <a href="../../../pages/templates/">
          <img src="../../../static/images/logo.png"
          style="height:15vh; margin: auto;" alt="logo">
        </a>
      </div>
    <div class="inner">
      <ul class="main-menu">
        <li class="item">
          <div class="item__name"><a href="../../../pages/templates/pages/about/qrCode.html">바코드 입력</a></div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <ul>
                    <li>
                      <a href="../../../pages/templates/pages/about/qrCode.html">바코드 입력</a>
                    </li>

                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name"><a href="./signup.html">로그인</a></div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <ul>
                    <li>
                      <a href="./signup.html">로그인</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name"><a href="./mypage.html">마이페이지</a></div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <ul>
                    <li>
                      <a href="./mypage.html">마이페이지</a>
                    </li>
                    <li>
                      <a href="./allergy.html">알레르기 내역</a>
                    </li>
                    <li>
                      <a href="eatingHabit.html">식습관</a>
                    </li>
                    <li>
                      <a href="badfood.html">먹으면 안되는 음식</a>
                    </li>
                    <li>
                      <a href="warningfood.html">주의해야할 음식</a>
                    </li>
                  </ul>
                </li>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">
            <a href="../../../record/templates/record/scan-list.html">검색 내역</a>
          </div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <ul>
                    <li>
                      <a href="../../../record/templates/record/scan-list.html">검색 내역</a>
                    </li>
                    <li>
                      <a href="../../../record/templates/record/latest-scan-list.html">최근 검색 내역</a>
                    </li>
                    <li>
                      <a href="../../../record/templates/record/all-scan-list.html">전체 검색 내역</a>
                    </li>
                  </ul>
                </li>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
        
        </header>
        <!--네비게이션-->
        <nav>
    
        </nav>  
        <!--콘텐츠부분-->
    <div class="main-menu">
      <section>
        <H1>식습관</H1>
        <div class="board">
        </div>
      </section>
    </div>

        <!--사이드바-->
        <aside>
          
        </aside>
    </div>
</body>
</html>
