<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="position: fixed; left: 50%; transform: translateX(-50%)">
      마이페이지
    </div>
    <div id="my_page_banner">
      <div class="my_page_bg"></div>
    </div>
    <a href="../about/Home.html">
      <img
        src="../images/Home.png"
        alt="Home"
        style="
          width: 20px;
          height: 20px;
          position: fixed;
          top: 20px;
          left: 20px;
        "
      />
    </a>
    <a href="../about/user.html">
      <img
        src="../images/user.png"
        alt="user"
        style="
          width: 100px;
          height: 100px;
          position: fixed;
          top: 100px;
          left: 60px;
          border: 5px solid black;
          border-radius: 10px;
        "
      />
      <a href="../about/mypage/nickname.html"></a>
    </a>
    <a href="../about/Edit.html">
      <img
        src="../images/Edit.png"
        alt="Edit"
        style="
          width: 20px;
          height: 20px;
          position: fixed;
          top: 20px;
          right: 20px;
        "
      />
    </a>
  </body>
</html>
