<!DOCTYPE html>
<html>
<head>
  <title>AllergyCheck</title>
<meta content="text/html; charset=euc-kr">
<title>HTML5</title>
<link rel="stylesheet" href="../../../static/css/mypage.css">
  </head>
<body>
    <div id="wapper">
        <!--헤더시작-->
    <header>
      <div class="logo">
        <a href="../../../pages/templates/">
          <img src="../../../static/images/logo.png"
          style="height:15vh; display: block; margin: 0 auto; " alt="logo">
        </a>
      </div>
    <div class="inner">
      <ul class="main-menu">
        <li class="item">
          <div class="item__name">바코드 입력</div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <ul>
                    <li>바코드 입력</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">로그인</div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <ul>
                    <li>로그인</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">마이페이지</div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <ul>
                    <li>마이페이지</li>
                    <li>알레르기 내역</li>
                    <li>식습관</li>
                    <li>먹으면 안되는 음식</li>
                    <li>주의해야할 음식</li>
                  </ul>
                </li>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="item__name">검색내역</div>
          <div class="item__contents">
            <div class="contents__menu">
              <ul class="inner">
                <li>
                  <ul>
                    <li>검색 내역</li>
                    <li>최근 검색 내역</li>
                    <li>전체 검색 내역</li>
                  </ul>
                </li>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
         
        </header>
        <!--네비게이션-->
        <nav>
     
        </nav>  
        <!--콘텐츠부분-->
    <div class="main-menu">
      <section>
        <H1>마이페이지</H1>
        <div class="board">
        </div>
      </section>
    </div>

        <!--사이드바-->
        <aside>
           
        </aside>
    </div>
</body>
</html>
